.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: myFirstFontReg;
  src: url(font/font/reg.ttf);
}

@font-face {
  font-family: myFirstFontThin;
  src: url(font/font/thin.ttf);
}

@font-face {
  font-family: myFirstFontBold1;
  src: url(font/font/bold1.ttf);
}

@font-face {
  font-family: myFirstFontBold2;
  src: url(font/font/bold2.ttf);
}

body {
  font-family: myFirstFontReg;
}
